[DEFAULT]
debug = false

[agent]
tunnel_types = vxlan
vxlan_udp_port = 4789
l2_population = True
drop_flows_on_start = False

[ovs]
integration_bridge = br-int

enable_tunneling=True
tunnel_bridge = br-tun
local_ip = 127.0.0.1

[securitygroup]
firewall_driver = neutron.agent.linux.iptables_firewall.OVSHybridIptablesFirewallDriver
