[DEFAULT]
admin_token = {{ keystone_admin_token }}
insecure_debug = true
public_bind_host=0.0.0.0
admin_bind_host=0.0.0.0
public_port=5000
admin_port=35357
notification_driver=noop
log_dir = /var/log/keystone

[eventlet_server]
admin_workers = 1
public_workers = 1

[auth]
methods = password,token
token = keystone.auth.plugins.token.Token
password = keystone.auth.plugins.password.Password

[catalog]
driver = sql
template_file = /etc/keystone/default_catalog.templates

[database]
connection = mysql+pymysql://keystone:{{ keystone_db_password }}@{{ database_host }}/keystone

[token]
provider = fernet

[fernet_tokens]
key_repository = /etc/keystone/fernet-keys

[ssl]
enable=False
